@{
    ViewData["Title"] = "Calendar";
}
<h1>@ViewData["Title"]</h1>
<h1>Bookings</h1>
<div class="ratio ratio-16x9">
  <iframe
    src="https://calendar.google.com/calendar/embed?src=9e3d46b93c0ded9c59b73f6021925778222e41ae8be25c52a863321faa60f764%40group.calendar.google.com&ctz=Africa%2FJohannesburg"
    style="border:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>
