@model Pos.Models.SalesPerson
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>SalesPerson</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Person" class="form-label"></label>
                <input asp-for="Person" class="form-control bg-dark text-white" />
                <span asp-validation-for="Person" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control bg-dark text-white" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Role" class="form-label"></label>
                <select asp-for="Role"
                        class="form-select bg-dark text-white"
                        asp-items="Html.GetEnumSelectList<Pos.Models.SalesRole>()">
                    <option value="">-- Select role --</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <a asp-action="Index" class="btn btn-dark text-decoration-none">Back to List</a>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
